---
---
$header-bg-color: white;
@import "{{ site.theme }}";
.page-header {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;

  @include large {
    padding: 2rem 3rem;
  }

  @include medium {
    padding: 1rem 1rem;
  }

  @include small {
    padding: 0.5rem 0.5rem;
  }
}

header a {
  color: white;
}

header a:hover {
  text-decoration: none;
}

.project-tagline {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

label.short {
  display: inline-block;
  width: 5rem;
}

label.long {
  display: inline-block;
  width: 15rem;
}


div.canvas {
  margin-left: 2 rem; 
  margin-right: 5rem;
}

input {
  margin: 5px;
}

div.column {
  width:50%;
  float:left;
}

div.row:after {
  content: "";
  display: table;
  clear: both;
}

figure.smallmargin {
   margin: 0px 10px 0px 10px
}

button.shortlabel {
  color: #fff;
  background-color: #6c757d;
  display: inline-block;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  margin-top:10px;
  margin-left:10rem;
}
